<p>Here are all the Tamagotchis you've created:</p>

<div class="row">
  <div class="col-xs-11"><h2>First Tamagotchi Name</h2></div>
</div>

<div class="row">
<div class="col-xs-2 food food10">
</div>


<div class="col-xs-2 sleep sleep10">
</div>

<div class="col-xs-2 activity activity10">
</div>
</div>

<div class="row">
<div class="col-xs-2 food food9">
</div>
<div class="col-xs-2 sleep sleep9">
</div>
<div class="col-xs-2 activity activity9">
</div>
</div>

<div class="row">
<div class="col-xs-2 food food8">
</div>
<div class="col-xs-2 sleep sleep8">
</div>
<div class="col-xs-2 activity activity8">
</div>
</div>

<div class="row">
<div class="col-xs-2 food food7">
</div>
<div class="col-xs-2 sleep sleep7">
</div>
<div class="col-xs-2 activity activity7">
</div>
</div>

<div class="row">
<div class="col-xs-2 food food6">
</div>
<div class="col-xs-2 sleep sleep6">
</div>
<div class="col-xs-2 activity activity6">
</div>
</div>

<div class="row">
<div class="col-xs-2 food food5">
</div>
<div class="col-xs-2 sleep sleep5">
</div>
<div class="col-xs-2 activity activity5">
</div>
</div>

<div class="row">
<div class="col-xs-2 food food4">
</div>
<div class="col-xs-2 sleep sleep4">
</div>
<div class="col-xs-2 activity activity4">
</div>
</div>

<div class="row">
<div class="col-xs-2 food food3">
</div>
<div class="col-xs-2 sleep sleep3">
</div>
<div class="col-xs-2 activity activity3">
</div>
</div>

<div class="row">
<div class="col-xs-2 food food2">
</div>
<div class="col-xs-2 sleep sleep2">
</div>
<div class="col-xs-2 activity activity2">
</div>
</div>

<div class="row">
<div class="col-xs-2 food food1">
</div>
<div class="col-xs-2 sleep sleep1">
</div>
<div class="col-xs-2 activity activity1">
</div>
</div>

<div class="row">
<div class="col-xs-2"><h4>FOOD</h4>
  <form action="/feed">
    <button type="submit" class="btn">Feed</button>
  </form>
</div>
<div class="col-xs-2"><h4>SLEEP</h4>
  <form action="/nap">
    <button type="submit" class="btn">Nap</button>
  </form>
</div>
<div class="col-xs-2"><h4>ACTIVITY</h4>
  <form action="/play">
    <button type="submit" class="btn">Play</button>
  </form>
</div>
</div>

<br>

<br>

<div class="row">
  <% @tmgcs.each() do |tmgc| %>
  <div class="well col-xs-2">
      <li><h3><%= tmgc[0] %></h3></li>
      <li><h5>Food Level:</h5><%= tmgc[1] %>
        <form action="/feed">
          <button type="submit" class="btn">Feed</button>
        </form>
      </li>

      <li><h5>Sleep Level:</h5><%= tmgc[2] %>
        <form action="/nap">
          <button type="submit" class="btn">Nap</button>
        </form>
      </li>

      <li><h5>Activity Level:</h5><%= tmgc[3] %>
        <form action="/play">
          <button type="submit" class="btn">Play</button>
        </form>
      </li>
    </div>
    <% end %>
</div>

<!-- <% if 10 == 0%>
<h1>Tamagotchi is dead</h1>
<% end %> -->

<form action="/display" method="post">
  <label for="name">Name your new Tamagotchi:</label>
  <input id="name" name="name" type="text">

  <button type="submit" class="btn">Add Tamagotchi</button>
 </form>

 <!-- <% if (10 <= 9)%>
   <style>.food10 {background-color: #ffffff;}</style>
 <% end %>
 <% if (10 <= 8)%>
   <style>.food9 {background-color: #ffffff;}</style>
 <% end %>
 <% if (10 <= 7)%>
   <style>.food8 {background-color: #ffffff;}</style>
 <% end %>
 <% if (10 <= 6)%>
   <style>.food7 {background-color: #ffffff;}</style>
 <% end %>
 <% if (10 <= 5)%>
   <style>.food6 {background-color: #ffffff;}</style>
 <% end %>
 <% if (10 <= 4)%>
   <style>.food5 {background-color: #ffffff;}</style>
 <% end %>
 <% if (10 <= 3)%>
   <style>.food4 {background-color: #ffffff;}</style>
 <% end %>
 <% if (10 <= 2)%>
   <style>.food3 {background-color: #ffffff;}</style>
 <% end %>
 <% if (10 <= 1)%>
   <style>.food2 {background-color: #ffffff;}</style>
 <% end %>
 <% if (10 <= 0)%>
   <style>.food1 {background-color: #ffffff;}</style>
 <% end %> -->
